#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-content {
  flex-grow: 1;
  margin-left: 20px;
  min-height: 100vh;
}


@media (max-width: 750px) {
  #root {
    max-width: none;
    margin: 0;
    padding: 0;
    text-align: initial;
  }

.main-content {
  flex-grow: 1;
  margin-left: 0px;
  min-height: 100vh;
}
}
